<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Page</title>
    <link rel="stylesheet" href="./static.css">
    <style>
        header{
            background-color: orange;
            color: black;
            text-align: center;
            padding: 10px;


        }
        footer{
            background-color: orange;
            color: black;
            padding: 10px;
            position: fixed;
            text-align: center;
            bottom: 0;
            width: 100%;
        }
        body{
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <header>
        <h1>MY WEBSITE</h1>
    </header>

    <h1 class="me">Vivian's Application</h1>
    <p >Hello, {{ username }}!</p>
    <p>Welcome to my flask website.</p>
    <footer>
        <p> We appreciate for your time</p>
  </footer>
</body>
</html>
