<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>OUR SUBMISSION FORM</h1>
    <form action="./submissionform.html">
        <label for="name">Enter Your Name</label><br>
        <input type="text" id="fname" value=""><br>
        <label for="Contact">Contact</label><br>
        <input type="text" id="Contact" name="Contact" value=""><br>
        <label for="Email">Email</label><br>
        <input type="text" id="email" name="email" value=""><br>

        <button type="button">
         submit
        </button>
        <h2>Thank you for contacting us</h2>
</body>
</html>